@model GameShop.Models.MainShopViewModel

<div class="col-sm-9">
    <div id="products">
        @foreach (var product in Model.Products)
        {
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @Html.DisplayFor(modelItem => product.Product_name)
                        </h4>
                        <p class="group inner list-group-item-text">
                            @Html.DisplayFor(modelItem => product.Avalibility.Avalibility1)
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    @Html.DisplayFor(modelItem => product.Price) PLN
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success">Buy</a>
                                <a class="btn btn-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    </div>
