
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h2>Success!</h2>
    <p>Your order have been payed. Wait for delivery!</p>
</div>
