
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome Game Shop Admin</h2>
<br />
<p>@Html.ActionLink("Register new users", "RegisterNew", "AdminPanel", null, new { @class = "btn btn-primary" })</p>

