
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background:url(../../Content/images/wrapperImg.jpg) no-repeat center center fixed; background-size:cover;">

    <h1>Game Shop</h1>
    <p class="text-body">
        Start shopping and find the best game for you in best price!
    </p>
    <p class="text-white">
        @Html.ActionLink("Start Shopping", "Index", "MainShop", null, new { @class = "btn btn-warning" })
    </p>
    
    <br /><br /><br />
</div>





