@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game Shop</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administration panel</h2>
        <p>
           CRUD from database(temporary from this place)
        </p>
        @Html.ActionLink("Go to crud","Index","Crud",null,new { @class = "btn btn-primary" })
    </div>
    
</div>